@page "/addUser"
@using Resturent.Models
@inject UserService objUserService
@inject NavigationManager NavigationManager
<h3>AddUser</h3>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <MudTextField @bind-Value="objUser.UserName" Label="User Name" Variant="Variant.Outlined" Margin="Margin.Dense" class="form-control"></MudTextField>
        </div>
        <div class="form-group col-md-6">
            <MudTextField @bind-Value="objUser.Password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" class="form-control" />
        </div>

        <div class="form-group col-md-6">
            <MudTextField @bind-Value="objUser.EmailId" Label="Email Id" Variant="Variant.Outlined" Margin="Margin.Dense" class="form-control"></MudTextField>
        </div>
        <div class="form-group col-md-6">
            <MudTextField @bind-Value="objUser.EmailPass" Label="Email Password" Variant="Variant.Outlined" Margin="Margin.Dense" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <MudTextField @bind-Value="objUser.MobileNo" Label="Mobile No." Variant="Variant.Outlined" Margin="Margin.Dense" class="form-control"></MudTextField>
        </div>



    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputPassword4">Is Admin</label>
            <label class="switch">
                <input type="checkbox" @bind="isAdmin">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="form-group col-md-3">
            <label for="inputPassword4">Is Active</label>
            <label class="switch">
                <input type="checkbox" @bind="isActive">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="form-group col-md-3">
            <label for="inputPassword4">Status</label>
            <label class="switch">
                <input type="checkbox" @bind="status">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateUser" value="save" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />

            </div>
        </div>
    </div>
</form>


@code {

    User objUser = new User();

    private bool hover = true;
    private DateTime eDate;
    public bool isActive, isAdmin, status;


    protected override void OnInitialized()
    {
        eDate = DateTime.Now;
    }

    void CreateUser()
    {
        objUser.UserId = 0;
        objUser.EDate = eDate;
        objUser.MDate = null;
        objUser.IsActive = isActive ? true : false;
        objUser.IsAdmin = isAdmin ? true : false;
        objUser.Status = status ? true : false;
        objUserService.Create(objUser);
        NavigationManager.NavigateTo("user");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("user");
    }

    //password hide

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ButtonTestclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}
